.app-frame {
    min-height: 100vh;
}

#blazor-error-ui {
    background: #ffe7b5;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.18);
    display: none;
    left: 0;
    padding: 0.7rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    float: right;
}
